{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="col-md-12">
            {% for flash_message in app.session.flashBag.get('sucess') %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ flash_message }}
                </div>
            {% endfor %}
            <div class="page-header margin-none" >
                <div class="col-md-6" style="padding: 0px; margin: 0px">
                    <h2 class="padding-none">Carros</h2>
                </div>
                <div class="col-md-6 text-right" style="padding: 0px; margin: 0px">
                    <h2><a class="btn btn-primary btn-cl" href="{{ path('hm_carro_add') }}">Novo carro</a></h2>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Combustível</th>
                            <th>Ano de Fabricação</th>
                            <th>Ano do Modelo</th>
                            <th>Cor Predominante</th>
                            <th>Estoque</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for carro in carros %}
                            <tr>
                                <td>{{ carro.marca }}</td>
                                <td>{{ carro.modelo }}</td>
                                <td>{{ carro.combustivel }}</td>
                                <td>{{ carro.anoFabricacao }}</td>
                                <td>{{ carro.anoModelo}}</td>
                                <td>{{ carro.corPredominante }}</td>
                                <td>{{ carro.estoque }}</td>
                                <td>
                                    <a href="{{ path('hm_carro_visualizar',{id: carro.id})}}" class="btn btn-sm btn-info">
                                        Ver
                                    </a>
                                    <a href="{{ path('hm_carro_editar',{id: carro.id})}}" class="btn btn-sm btn-primary">
                                        Editar
                                    </a>
                                    <a href="{{ path('hm_carro_delete', {id: carro.id}) }}" class="btn btn-sm btn-danger">
                                        Apagar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
